<footer class="footer">
    <div class="footer-content">
        <h3>Gümmenen Sport-Club (GSC)</h3>
        <p><a href="mailto:uhcgummenen@gmail.com">uhcgummenen&#64;gmail.com</a></p>
        <p>© 2025. All rights reserved.</p>

        <!-- Instagram Icon wie im Header -->
        <div class="social">
            <a href="https://www.instagram.com/uhc_gummenen" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
