<footer class="footer">
    <div class="footer-content">
        <h3>Gümmenen Sport-Club </h3>
        <p><a href="mailto:gummenensportclub@gmail.com">gummenensportclub&#64;gmail.com</a></p>
        <p>© 2025. All rights reserved.</p>

        <!-- Social Icons -->
        <div class="social">
            <a href="https://www.instagram.com/gummenen_sport_club" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@gummenen_sport_club" target="_blank" aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
    </div>
</footer>
