<div class="officials-page">
  <section class="page-header">
      </section>
  <section class="container">
    <div class="category-section">
      <h2 class="category-title">Vorstand</h2>
    </div>
  </section>
  <section class="container no-top-padding">
      <div class="officials-grid">
        <div class="official-card" *ngFor="let official of boardMembers">
          <div class="official-image" [style.background-image]="'url(' + official.image + ')'"></div>
          <div class="official-info">
            <h3>{{ official.name }}</h3>
            <div class="official-role">{{ official.role }}</div>
            <p class="official-description">{{ official.description }}</p>
            <i class="official-description">{{ official.zitat }}</i>
            <!-- <div class="contact-details">
              <a [href]="'mailto:' + official.email" class="contact-link email">
                <span class="icon">✉</span>
                {{ official.email }}
              </a>
              <a *ngIf="official.phone" [href]="'tel:' + official.phone" class="contact-link phone">
                <span class="icon">📞</span>
                {{ official.phone }}
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </section>
</div>
