<div class="officials-page">
    <section class="page-header">
        <div class="container">
        </div>
    </section>
    <section class="container section-spacing">
        <div class="category-section">
            <h2 class="category-title">Kontakt</h2>
           <!-- <p class="category-description">Unser Vorstand leitet den Verein mit strategischer Weitsicht und grossem Engagement.</p> -->
        </div>
    </section>
    <section class="contact-section">
        <div class="container">
            <div class="contact-box">
                <h3>Haben Sie Fragen zu unserem Verein? <br> Wir freuen uns auf Ihre Nachricht!</h3> <br>
                <div class="general-contact">
                    <div class="contact-item">
                        <strong>Mail</strong>
                        <a href="mailto:uhcgummenen@gmail.com">uhcgummenen&#64;gmail.com</a>
                    </div>
                    <!-- <div class="contact-item">
                       <strong>Telefon:</strong>
                       <a href="tel:+41442345678">+41 44 234 56 78</a>
                     </div>-->
                    <div class="contact-item">
                        <strong>Adresse</strong>
                        <a href="https://www.google.com/maps?q=Sport-+und+Freizeithalle+Allenlüften,+Buchstrasse+30,+3205+Gümmenen"
                           target="_blank" rel="noopener noreferrer"
                           style="color: inherit; text-decoration: none; cursor: pointer; line-height: 1.4;">
                            <span style="display: block;">Sport- und Freizeithalle Allenlüften</span>
                            <span style="display: block;">Buchstrasse 30</span>
                            <span style="display: block;">3205 Gümmenen</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
